@use "MixinsStyles";
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}


select {
  appearance: none;
  outline: 0;
  box-shadow: 0;
  border: 0px;
  background: #fff;
  background-image: none;
  transition: 0.25 all ease;
}

.container::after {
  content: "\25BC";
  width: 2em;
  height: 1.7em;
  @include MixinsStyles.create-flexblox(center);
  background: rgb(191, 191, 191);
  color: #fff;
  cursor: pointer;
  position: absolute;
  pointer-events: none;
  top: 0.1px;
  right: 0;
  border-radius: 0.32rem;
}
.container:hover::after {
  color: #22c55e;
}

@media (0px <= width <= 768px) {

  li{
    visibility: hidden;
  }
  .icons{
    visibility: visible;
    font-size: 25px;
    position: relative;
    top:10px
  }
  .gear::after{
    content: "Confi";
    padding-left: 1.5px;
  }
  .account::after{
    content: "Cuen";
  }
}

@media (width >= 768px) {
  .gear::after{
    content: "Configuraciones";
  }
  .account::after{
    content: "Cuenta";
  }
}